@charset "utf8";

.body {
  color: #333;
  font-family: "lato";
}

img {
  vertical-align: bottom;
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.font-raleway {
  font-family: "raleway";
}

.button_state_default {
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  padding: 14px 12px;
  box-sizing: border-box;
  text-decoration: none;
  transition: all .3s;
}

.button_state_hover:hover {
  color: #333;
}

.section__title {
  color: #fff;
  font-size: 24px;
}

.list {
  list-style: none;
}

.list li {
  display: inline-block;
}

.header {
  width: 100vw;
  background-color: #fff;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-inner {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-inner__icon {
  color: #4e4e4e;
}

.header-inner__hamburger {
  display: none;
  height: 40px;
  width: 50px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.header-inner__hamburger span {
  height: 3px;
  display: block;
  background-color: #c0c0c0;
  border-radius: 3px;
  margin-top: 5px;
}

.header-inner__hamburger span:first-child {
  margin-top: 0;
}


.main {
  padding-top: 78px;
}

.theme {
  background-color: #f2f2f2;
  padding: 250px 0;
}

.theme-inner h1 {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.theme-inner p {
  color: #c0c0c0;
  margin-top: 20px;
  font-size: 30px;
}

.can-do {
  background-color: #74cfae;
  padding-top: 50px;
}

.can-do-inner {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.can-do-inner__box {
  max-width: 700px;
}

.can-do-inner__box p {
  color: #fff;
  font-size: 20px;
  margin-top: 35px;
}

.work {
  background-color: #f2f2f2;
  padding: 60px 0 70px 0;
}

.work-inner h2 {
  font-size: 24px;
}

.work-inner__main-list {
  margin-top: 40px;
  font-size: 0;
  text-align: left;
}

.work-inner__main-list li {
  margin-top: 80px;
  margin-left: 100px;
}

.work-inner__main-list li:first-child {
  margin-left: 0;
}

.work-inner__main-list li:nth-child(-n+3) {
  margin-top: 0;
}

.work-inner__main-list li:nth-child(3n+1) {
  margin-left: 0;
}

.work-inner__main-list li a {
  display: inline-block;
  transition: all .3s;
  opacity: 0.7;
}

.work-inner__main-list li a:hover {
  opacity: 1;
}

.work-inner__footer {
  margin: 0 auto;
  margin-top: 90px;
}

.work-inner__footer p {
  max-width: 900px;
  display: inline-block;
  vertical-align: middle;
}

.work-inner__footer a {
  width: 100px;
  margin-left: 90px;
  vertical-align: middle;
  display: inline-block;
}

.skills {
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
}

.skills-inner__main-list {
  margin-top: 50px;
}

.skills-inner__main-list li {
  margin-left: 180px;
}

.skills-inner__main-list li:first-child {
  margin-left: 0;
}

.skills-inner__main-list li p {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
}

.nav {
  background-color: #f2f2f2;
  padding: 200px 0;
}

.nav-inner__list li a {
  width: 185px;
  height: 150px;
  display: inline-block;
  vertical-align: bottom;
  transition: all .3s;
  position: relative;
}

.nav-inner__list li a:hover {
  background-color: #fff;
}

.nav-inner__list li a i {
  color: #74cfae;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}

.footer-inner {
  text-align: end;
}

.footer-inner p {
  color: #fff;
}
/* @mediaクエリ 大→小 */
@media screen and (max-width:1199px) {
  .can-do {
    padding-bottom: 25px;
  }

  .can-do-inner {
    flex-flow: column;
  }

  .can-do-inner__box {
    margin: 0 auto;
    margin-top: 20px;
  }

  .work-inner__main-list {
    text-align: center;
  }

  .work-inner__main-list li {
    display: block;
    margin: 0;
  }

  .work-inner__main-list li:nth-child(3n+1) {
    margin-top: 80px;
  }

  .work-inner__main-list li:first-child {
    margin-top: 0;
  }

  .work-inner__footer {
    margin-top: 80px;
  }

  .work-inner__footer a {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
  }

  .skills-inner__main-list li {
    display: block;
    margin-left: 0;
    margin-top: 88px;
  }

  .skills-inner__main-list li:first-child {
    margin-top: 0;
  }
}

@media screen and (max-width:767px) {
  .header-inner__contact {
    display: none;
  }

  .header-inner__hamburger {
    display: inline-block;
  }

  .theme {
    padding: 160px 0 130px 0;
  }

  .theme-inner h1 {
    font-size: 80px;
  }

  .nav {
    padding: 50px 0;
  }

  .nav-inner__list li,
  .nav-inner__list li a {
    width: 100%;
  }

  .nav-inner__list li a {
    display: block;
  }

  .footer-inner {
    margin-right: 50px;
  }

}